body {
    background-color:#1F305E;
    color: #DADD98;
    font-family: 'Sofia';font-size: 22px;

}

div {
    display: inline;
}

.droid-arabic-kufi {
    font-family: 'Droid Arabic Kufi', serif;
}